h2{
	text-align:center;
	}
body{
         background-image: url("img/bg.jpeg");
	 background-size: cover;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
}
#editor{
    width: 80%;
    height: 80%;
    display: block;
    border: 2px solid lightblack;
    margin-top: 4px;
    border-radius: 15px;
    background-color: white;
}
#img{
	height:20px;
	width:20px;
	}
#rimg {
	height:20px;
	width:20px;
	transform: rotate(180deg);
	}
